
    /*  Así se hacen los comentarios dentro de CSS */

    /* Etiquetas */

    p 
    {
        color: coral;
    }

    /* Clase, puede hacer conjuntos */
    .button-custom 
    {
        color:cornflowerblue
    }

    /* ID, es algo único */
    #titulo 
    {
        color:burlywood
    }

    .contenedor{
        color:rgb(255, 255, 255); /* Color de texto */
        background-color: rgb(0, 10, 66); /* Color de fondo */
        font-size: 20px; /* Tamaño de la letra*/
        font-family: 'Lucida Sans'; /* Fuentes de letra a usar */
        text-align: center; /* Alineación de texto */
        border: 2px solid rgb(34, 34, 34);
        border-radius: 10px; /* Radio del Borde */
        width: 500px; /* Ancho */
        height: 300px; /* Alto */
        
    }

    .foto{
        text-align: center;
        width: 9px; /* Ancho */
        height: 5px; /* Alto */
        display: outside;
    }

    .button-div{
        padding: 10px; /* Distancia del elemento hasta los bordes  */
        margin: 10px; /* Distancia desde los bordes hacia afuera */
    }

    .contenedor-flexible{
        display: block;
    }
    .press-start-2p-regular {
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
      }
      