
    /*  Así se hacen los comentarios dentro de CSS */

    /* Etiquetas */

    h3 
    {
        color: coral;
    }

    /* Clase, puede hacer conjuntos */
    .button-custom 
    {
        color:cornflowerblue
    }

    /* ID, es algo único */
    #titulo 
    {
        color:burlywood
    }

    .contenedor{
        color:rgb(245,245,255); /* Color de texto */
        background-color: rgb(60, 62, 68); /* Color de fondo */
        font-size: 20px; /* Tamaño de la letra*/
        /* font-family: 'Press Start 2P'; /* Fuentes de letra a usar */
        border: 2px solid rgb(34, 34, 34);
        border-radius: 10px; /* Radio del Borde */
        width: 550px; /* Ancho */
        height: 250px; /* Alto */
        display: flex; /* Permite alinear cosas */
        gap: 35px /* Crea espacios */
    }
    
    .press-start-2p-regular {
        font-family: "Press Start 2P", system-ui;
        font-style: normal;
      }
      