
    /*  Así se hacen los comentarios dentro de CSS */

    /* Etiquetas */

    h5
    {
        color: coral;
    }

    /* Clase, puede hacer conjuntos */
    .button-custom 
    {
        color:cornflowerblue
    }

    /* ID, es algo único */
    #titulo 
    {
        color:burlywood
    }

    .contenedor{
        color:rgb(245,245,255); /* Color de texto */
        background-color: rgb(60, 62, 68); /* Color de fondo */
        font-size: 20px; /* Tamaño de la letra*/
        border: 2px solid rgb(34, 34, 34);
        border-radius: 10px; /* Radio del Borde */
        width: 630px; /* Ancho */
        height: 203px; /* Alto */
        display: flex; /* Permite alinear cosas */
        align-items: center;
        gap: 10px /* Crea espacios */
        }
    
    .press-start-2p-regular {
        font-family: "Press Start 2P", system-ui;
        font-style: normal;
      }
      
    /* Eliminar el margen predeterminado de todos los encabezados */
h1, h2, h3, h4, h5, h6, p 
{
    margin: 0; /* Elimina cualquier margen */
    font-family: sans-serif; /* Fuentes de letra a usar */

}

/* Configurar el margen de h4 específicamente */
.emoji 
{
    display: flex; 
    gap: 5px;
    align-items: center; 
}

h2 
{
    margin-top: 2px; /* Ajusta la separación arriba del h2 */
    padding-left: 5px;
}

h3
{
    color: gray;
    font-size: 15.5px;
    margin-top: 18px;
}

p {
    font-size: 17px;
    margin-bottom: 3px;
}
