


.rectangulo
{
    background-color: rgb(50, 130, 181);
    width: 260px;
    height: 290px;
    text-align: center;
    border-radius: 1px;
    font-family: Helvetica;
}

h2
{
    color: rgb(184, 223, 247); 
    padding-top: 30px;
    font-size: 30px;
}

.block
{
    display: block;
    width: 150px;
    background-color: aquamarine;
    padding: 5px;
    margin: 5px;
    ;
}

.inline
{
    display: inline;
    background-color: rgb(69, 69, 236);
    width: 19000px; /* No hacen */
    height: 19000px; /* nada */
    padding: 5px;
    margin: 10px; /* Margin establece el margen de cada uno, y el ancho y largo no afectan a
    el display Inline. */
}

.inline-block
{

    display: inline-block;
    width: 50px;
    text-align: center;
    /* El inline-block no deja alinear el contenido 
       y el Ancho cambia los margenes de distancia */

}

.flex-container
{
    display: flex;
    justify-content: center; /* Center los agrupa a todos, space-between los agrupa separados
        y space-evenly hace lo mismo que space-between */
    background-color: rgb(38, 0, 255);
    
}

.flex-item
{
    background-color: rgb(235, 108, 133);
    margin: 10px; /* Estableciendo los margenes podemos separarlos del centro para afuera */
}